/* General body styles */
body{
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: -1;
}
body.sunset {
    background: linear-gradient(to bottom, 
        #121c2e,
        #19263f,
        #1c2b46,
        #24395f,
        #3b4c8d,
        #f66b39,
        #f8c471,
        #2980b9
    );
}
body.winter {
    /*background: radial-gradient( 
        #0e9415, 
        #eceff5,
        #d41616,
        #cfd0d1,
        #12aa12, 
        #d4d3d8,
        #b1072c,
        #d3d1ce
    );*/
    background: radial-gradient(
        rgb(48, 36, 216),
        rgb(41, 30, 190),
        rgb(42, 30, 207),
        rgb(43, 32, 199),
        rgb(19, 19, 145),
        rgb(15, 29, 151),
        rgb(7, 7, 95),
        rgb(3, 3, 70),
        rgb(6, 6, 68),
        rgb(2, 2, 26),
        rgb(1, 1, 19)
    );
}
body.night {
    background: linear-gradient(to bottom, 
        #1c032c, 
        #081835,
        #0f0927,
        #080d18,
        #0f1322, 
        #130927,
        #230b25,
        #110c03
    );
}
body.bright {
    background: linear-gradient(to bottom, 
        #cb32f1, 
        #bb67cc,
        #be79da,
        #cc87f3,
        #e09dee, 
        #f5a6ff,
        #e4b4eb, 
        #fac6f7
    );
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    border-radius: 20px;
    background: transparent;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10;
}
#container.sunset {
    border: 10px solid #d5a6bd;
}
#container.winter {
    border: 10px solid #054e18;
    border-bottom: 10px solid #dddada;
}
#container.night{
    border: 10px solid #a431f1;
}
#container.bright{
    border: 10px solid #ac0d0d;
}
button, #make-happy-button, #audio-container, #bucket-list-container, #image-slider {
    position: relative;
    z-index: 10;
}
#page-title {
    text-align: center;
    padding: 0 0 20px 0;
    width: 100%;
}
#title {
    font-size: 3em;
    margin: 0;
}
#title.sunset{
    color: #d5a6bd;
}
#title.winter{
    color: #054e18;
}
#title.night{
    color: #a431f1;
}
#title.bright{
    color: #ac0d0d;
}
#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
#days-together {
    flex: 1;
    text-align: left;
}
#days-together h2 {
    font-size: 2em;
    margin: 0;
}
#days-together.sunset h2,#makeMeHappy.sunset, #nextButton.sunset,#bucket-list-container.sunset, #bucketList.sunset{
    color: #d5a6bd;
}
#days-together.winter h2,#makeMeHappy.winter, #nextButton.winter, #bucket-list-container.winter,#bucketList.winter{
    color: #8f0909;
}
#days-together.night h2, #makeMeHappy.night, #nextButton.night, #bucket-list-container.night, #bucketList.night{
    color: #9539eb;
}
#days-together.bright h2, #makeMeHappy.bright, #nextButton.bright, #bucket-list-container.bright, #bucketList.bright{
    color: #c00e0e;
}
#make-happy-container {
    flex: 2;
    text-align: center;
}
#makeMeHappy {
    padding: 10px 20px;
    font-size: 1.5em;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
#makeMeHappy.sunset,#bucketList.sunset{
    border: 1px #d5a6bd dotted;
}
#makeMeHappy.sunset:hover {
    border-color: #b57ea8; /* Change border color on hover */
}
#makeMeHappy.winter, #bucketList.winter{
    border: 1px #8f0909 dotted;
}
#makeMeHappy.winter:hover {
    border-color: #7e1818; /* Change border color on hover */
}
#makeMeHappy.night, #bucketList.night{
    border: 1px #721b7e dotted;
}
#makeMeHappy.night:hover {
    border-color: #3f0c33; /* Change border color on hover */
}
#makeMeHappy.bright, #bucketList.bright{
    border: 1px #ff58a9 dotted;
}
#makeMeHappy.bright:hover {
    border-color: #f86161; /* Change border color on hover */
}
#audio-container {
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    gap: 5px;
}
#audioplayer {
    width: 100%;
    height: 40px;
}
#nextButton {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
    width: 1px;
}
#bucket-list-container {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
}
#bucketList {
    font-size: 1em;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}
#bucketList option {
    padding: 10px;
}
#image-slider {
    text-align: center;
    margin-top: 10px;
}
#sliderImage {
    height: 60vh;
    width: auto;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}
#sliderImage:hover{
    transition: 1s;
    transform: scale(1.01);
}
#bottom-image-container.sunset {
    position: fixed;
    bottom: 30px;
    left: -150px;
    width: 60%;
    z-index: 1;
}
#bottom-image-container.sunset img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(60%);
}
#bottom-image-container2.sunset {
    position: fixed;
    bottom: 0px;
    right: -100px;
    width: 50%;
    z-index: 1;
}
#bottom-image-container2.sunset img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(60%);
}
#random-image.sunset{
    position: absolute;
    width: 40%;
    z-index: 11;
}
#random-image.sunset img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(60%);
}
#bottom-image-container.winter {
    position: fixed;
    bottom: 300px;
    left: -40px;
    width: 40%;
    z-index: 1;
}
#bottom-image-container.winter img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(60%);
}
#bottom-image-container2.winter {
    position: fixed;
    bottom: 300px;
    right: -100px;
    width: 50%;
    z-index: 1;
}
#bottom-image-container2.winter img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(60%);
}
#random-image.winter{
    position: absolute;
    width: 70px;
    z-index: 11;
}
#random-image.winter img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(60%);
}
#bottom-image-container.night {
    position: fixed;
    bottom: 30px;
    left: -150px;
    width: 60%;
    z-index: 1;
}
#bottom-image-container.night img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(60%);
}
#bottom-image-container2.night {
    position: fixed;
    bottom: 0px;
    right: -100px;
    width: 50%;
    z-index: 1;
}
#bottom-image-container2.night img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(60%);
}
#random-image.night{
    position: absolute;
    width: 40%;
    z-index: 11;
}
#random-image.night img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(60%);
}
#bottom-image-container.bright {
    position: fixed;
    bottom: 50px;
    left: -140px;
    width: 60%;
    z-index: 1;
}
#bottom-image-container.bright img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(60%);
}
#bottom-image-container2.bright {
    position: fixed;
    bottom: 100px;
    right: -100px;
    width: 50%;
    z-index: 1;
}
#bottom-image-container2.bright img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(60%);
}
#random-image.bright{
    position: absolute;
    width: 100%;
    z-index: 11;
}
#random-image.bright img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(60%);
}
/* STARS */
.stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    pointer-events: none;
    z-index: 5;
}
.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 60px 3px rgba(255, 255, 255, 0.8);
    animation: twinkle 1.5s infinite alternate, star-movement 20s;
}
.star.big {
    width: 5px;
    height: 5px;
    animation-duration: 2.5s;
}
.star.medium {
    width: 4px;
    height: 4px;
    animation-duration: 1.8s;
}
.star.small {
    width: 2px;
    height: 2px;
    animation-duration: 1.2s;
}
@keyframes twinkle {
    0% {
        opacity: 0.3;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.3);
    }
}
@keyframes star-movement {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(var(--move-x), var(--move-y));
    }
}
.snow-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
    overflow: hidden;
}
.snow{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.3);
    animation: snow-movement linear infinite;
}
.snow.small{
    width: 2px;
    height: 2px;
}
.snow.medium{
    width: 4px;
    height: 4px;
}
@keyframes snow-movement {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) translateX(var(--random-x));
        opacity: 0;
    }
}
@media (max-width: 600px) {
    #page-title {
        padding: 0 0 5px 0;
    }
    #page-title h2 {
        font-size: 1.4em;
    }
    #top {
        flex-direction: column;
    }
    #days-together h2 {
        font-size: 1.2em;
    }
    #makeMeHappy {
        font-size: 1.2em;
    }
    #audio-container {
        margin-bottom: 0px;
        margin-top: 5px;
    }
    #image-slider {
        margin-top: 0px;
    }
    #sliderImage {
        height: 35vh;
        width: auto;
        margin-top: 14px;
        transform: scale(1.22);
    }
    #sliderImage:hover{
        transition: 0.5s;
        transform: scale(1.24);
    }
    #bottom-image-container.winter {
        left: -11px;
        bottom: 46px;
    }
    #bottom-image-container2.winter {
        bottom: 82px;
        right: -36px;
    }
    /* STAR */
    .star.big {
        width: 3px;
        height: 3px;
    }
    .star.medium {
        width: 2px;
        height: 2px;
    }
    .star.small {
        width: 1px;
        height: 1px;
    }
}