/* General body styles */
body{
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: -1;
}
body.sunset {
    background: linear-gradient(to bottom, 
        #121c2e,
        #19263f,
        #1c2b46,
        #24395f,
        #3b4c8d,
        #f66b39,
        #f8c471,
        #2980b9
    );
}
body.winter {
    background: linear-gradient(to bottom, 
        #9cabc7, /* Dark blue sky */
        #7489af,
        #5b6f96,
        #4c6697,
        #646a83, /* Sunset transition (darker blue) */
        #b88e66, /* Sunset orange */
        #cea86a, /* Sunset pinkish color */
        #9c8c54 /* Water blue */
    );
}
body.night {
    background: linear-gradient(to bottom, 
        #1f0838, /* Dark blue sky */
        #1c0a30,
        #091a3a,
        #1c0d38,
        #131e4d, /* Sunset transition (darker blue) */
        #2c124b, /* Sunset orange */
        #370a42, /* Sunset pinkish color */
        #122d3f /* Water blue */
    );
}
body.bright {
    background: linear-gradient(to bottom, 
        #cb32f1, /* Dark blue sky */
        #bb67cc,
        #be79da,
        #cc87f3,
        #e09dee, /* Sunset transition (darker blue) */
        #f5a6ff, /* Sunset orange */
        #e4b4eb, /* Sunset pinkish color */
        #fac6f7 /* Water blue */
    );
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    border-radius: 20px;
    background: transparent;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10;
}
#container.sunset {
    border: 10px solid #d5a6bd;
}
#container.winter {
    border: 10px solid #0a8829;
}
#container.night{
    border: 10px solid #a431f1;
}
#container.bright{
    border: 10px solid #ac0d0d;
}
button, #make-happy-button, #audio-container, #bucket-list-container, #image-slider {
    position: relative;
    z-index: 10;
}
#page-title {
    text-align: center;
    padding: 0 0 20px 0;
    width: 100%;
}
#title {
    font-size: 3em;
    margin: 0;
}
#title.sunset{
    color: #d5a6bd;
}
#title.winter{
    color: #39c9c9;
}
#title.night{
    color: #a431f1;
}
#title.bright{
    color: #ac0d0d;
}
#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
#days-together {
    flex: 1;
    text-align: left;
}
#days-together h2 {
    font-size: 2em;
    margin: 0;
}
#days-together h2.sunset{
    color: #d5a6bd;
}
#days-together h2.winter{
    color: #e90606;
}
#days-together h2.night{
    color: #9539eb;
}
#days-together h2.bright{
    color: #c00e0e;
}
#make-happy-container {
    flex: 2;
    text-align: center;
}
#make-happy-button {
    padding: 10px 20px;
    font-size: 1.5em;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
#make-happy-button.sunset{
    color: #d5a6bd;
    border: 1px #d5a6bd dotted;
}
#make-happy-button.sunset:hover {
    border-color: #b57ea8; /* Change border color on hover */
}
#make-happy-button.winter{
    color: #a31d1d;
    border: 1px #b82e2e dotted;
}
#make-happy-button.winter:hover {
    border-color: #7e1818; /* Change border color on hover */
}
#make-happy-button.night{
    color: #7a1a7a;
    border: 1px #721b7e dotted;
}
#make-happy-button.night:hover {
    border-color: #3f0c33; /* Change border color on hover */
}
#make-happy-button.bright{
    color: #f775b4;
    border: 1px #ff58a9 dotted;
}
#make-happy-button.bright:hover {
    border-color: #f86161; /* Change border color on hover */
}
#audio-container {
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    gap: 5px;
}
#audioplayer {
    width: 100%;
    height: 40px;
}
#nextButton {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
    width: 1px;
}
#bucket-list-container {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
}
#bucket-list-container.sunset{
    color: #d5a6bd;
}
#bucket-list-container.winter{
    color: #60dd60;
}
#bucket-list-container.night{
    color: #43618a;
}
#bucket-list-container.bright{
    color: #bd1919;
}
#bucketList {
    font-size: 1em;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}
#bucketList.sunset {
    border: 2px solid #d5a6bd;
    color: #d5a6bd;
}
#bucketList.winter {
    border: 2px solid #398018;
    color: #22a142;
}
#bucketList.night {
    border: 2px solid #a839ca;
    color: #c031c5;
}
#bucketList.bright {
    border: 2px solid #fa9a9a;
    color: #f78585;
}
#bucketList option {
    padding: 10px;
}
#image-slider {
    text-align: center;
    margin-top: 10px;
}
#sliderImage {
    max-width: 45%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}
#sliderImage:hover{
    transition: 1s;
    transform: scale(1.01);
}
#bottom-image-container {
    position: fixed;
    bottom: 30px;
    left: -150px;
    width: 60%;
    z-index: 1;
}
#bottomImage, #bottomImage2 {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(60%);
}
#bottom-image-container2 {
    position: fixed;
    bottom: 0px;
    right: -100px;
    width: 50%;
    z-index: 1;
}
/* STARS */
.stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    pointer-events: none;
    z-index: 5;
}
.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 60px 3px rgba(255, 255, 255, 0.8);
    animation: twinkle 1.5s infinite alternate, star-movement 20s;
}
.star.big {
    width: 5px;
    height: 5px;
    animation-duration: 2.5s;
}
.star.medium {
    width: 4px;
    height: 4px;
    animation-duration: 1.8s;
}
.star.small {
    width: 2px;
    height: 2px;
    animation-duration: 1.2s;
}
@keyframes twinkle {
    0% {
        opacity: 0.3;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.3);
    }
}
@keyframes star-movement {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(var(--move-x), var(--move-y));
    }
}
@media (max-width: 600px) {
    #page-title {
        padding: 0 0 5px 0;
    }
    #page-title h1 {
        font-size: 1.4em;
    }
    #top {
        flex-direction: column;
    }
    .days-together h2 {
        font-size: 1.2em;
    }
    .make-happy-button {
        font-size: 1.2em;
    }
    .audio-container {
        margin-bottom: 0px;
        margin-top: 5px;
    }
    .image-slider {
        margin-top: 0px;
    }
    #sliderImage {
        width: 100%;
        height: auto;
        margin-top: 14px;
        transform: scale(1.22);
    }
    #sliderImage:hover{
        transition: 0.5s;
        transform: scale(1.24);
    }
    .bottom-image-container {
        left: -50px;
    }
    .bottom-image-container2 {
        bottom: 30px;
        right: -25px;
    }
    /* STAR */
    .star.big {
        width: 3px;
        height: 3px;
    }
    .star.medium {
        width: 2px;
        height: 2px;
    }
    .star.small {
        width: 1px;
        height: 1px;
    }
}